.formulario {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}

.formulario input {
    width: 90%;
    height: 30px;
    margin: .5rem
}

.formulario button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.guardar_producto {
    display: block;
    margin: 1rem auto;
}

label {
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

input {
    border-radius: 10px;
    text-align: center;
}

textarea {
    margin: 20px;
    width: 90%;
    border-radius: 10px;
    text-align: center;

}

.subtitulo {
    color: white;
    margin: 10px auto;
}

footer {
    width: 100%;
    margin-top: 70px;
    height: 50px;
    text-align: center;
    background-color: #04AA6D;
}